body{
    background-color:beige ;
    font-family: 'Rubik', sans-serif;
}

h1{
    color:coral;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

h3{
    color:darkblue
}

a:link{
    color:blue
}


#headerTest{
    background-color:coral;
    height: 30px;
    width: 100px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color:lightgreen;
    position: absolute; top: 550px; left: 400px;
}

#bodybox{
    height: 700px;
    width: 400px;
    border-style: 8px;
    border-color: black;
}

#moonbox{
    background-color:coral;
    height: 50px;
    width: 170px;
    padding: 12px;
    border-style: solid;
    border-width: 5px;
    border-color:cornflowerblue;
    position: absolute; top: 300px; left: 400px;
}